

body
{
		background:#313131;
		font-family: 'Poiret One', cursive;
}

.container
{
	width:22%;
	position:relative;
	border:5px solid #fff;
	box-shadow:0 0 4px rgba(0,0,0,0.3);
	display:block;
	cursor:pointer;
	overflow:hidden;
	text-align:center;
	float:left;
	margin:150px 10px;
}
.container img
{
	width:100%;
	-webkit-transition:all 0.5s ease-in;
	-webkit-transition-delay:0.5s;
}
.container:hover img
{
	-webkit-transform:scale(1.2,1.2);
}
.container .caption
{
	display:block;
	
	position:absolute;
	top:0;
	color:white;
	background-color:rgba(42,63,85,0.7);
	height:100%;
	opacity:0;
	-webkit-transition:opacity 1s ease-in ,transform 0.5s ease-in;
	-webkit-transform:rotate(360deg);
	
}
.container:hover .caption
{
	opacity:1;
	-webkit-transform:rotate(0deg);
}
.caption h2
{
	background-color:#2A3F55;
	margin:0;
	padding:10px;
	text-align:center;
	font-size:20px;
}
.caption p
{
	margin:0;
	padding:15px 15px;
	font-size:20px;
}

.caption h2 ,.caption p
{
	position:relative;
	left:100%;
	-webkit-transition:all 1s;
	-webkit-transition-delay:1s;
}
.caption p
{
		-webkit-transition-delay:1.6s;	
}
.container:hover h2 ,.container:hover p
{
	left:0;
}

